<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
    {% if results %}
        <table>
            <tbody>
            {% for img_name in results %}
                <tr>
                    <td>{{ img_name }}</td>
                    <td><img src="/pathtoyourimg" alt="{{ img_name }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No results :(
    {% endif %}
</body>
</html>