<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <vg-player>
          <video [vgMedia]="media" #media preload="auto" controls>
            <source src="{{videoURL}}" type="video/webm">
          </video>
        </vg-player>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Predictions</h5>
        <p>Actual Label: {{result.true_label}}</p>
      </div>
      <div class="card-body">
        <table class="table-bordered">
          <thead>
            <tr>
              <th>Top</th>
              <th>Label</th>
              <th>Probability</th>
            </tr>
          </thead>
          <tr *ngFor="let preds of result.predictions">
            <td>{{preds.top}}</td>
            <td>{{preds.label}}</td>
            <td>{{preds.probability}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3" *ngFor="let img of images">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Object Detected</h5>
      </div>
      <div class="card-body">
        <img src="{{url}}{{img}}" alt="unable to read" />
      </div>
    </div>
  </div>
</div>
